.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background-color: coral;
}
.logo {
    height: 150px;
    width: 150px;
}
.nav-items ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
.nav-items li {
    margin: 0 15px;
    font-weight: bolder;
    color: #000;
}
.nav-items li a {
    text-decoration: none;
    color: black;
}
.nav-items li:hover {
    color: #f1f1f1;
    cursor: pointer;
}
.body {
    padding: 20px;
    font-family: Arial, sans-serif;
}
.search-bar {
    display: flex;
    justify-content: space-between;
}
.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}
.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.restaurant-card {
    border: 1px solid #ccc;
    border-radius: 8px;
}
.restaurant-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.restaurant-details {
    padding-left: 10px;
}
.restaurant-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.filter-btn {
    padding: 10px 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.back-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 14px;
    color: #555;
}
.footer p {
    margin: 0;
}
.app {
    font-family: Arial, sans-serif;
}
.app strong {
    font-size: 24px;
}
